<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Poker</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Welcome to the Poker page!</h1>
            <h2>Unfortunately Poker is not available at this time. Please try our blackjack game.</h2>
        </div>
        <form action="/blackjack" method="POST" class="buttons">
            <button>Blackjack</button>
        </form>
    </div>
</body>
</html>