* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
}
html{
    background-color: #076324;
}
body {
    min-height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.container{
    width: 100%;
  
    margin-top: 4%;
}
.title {
    padding: 2rem auto;
}
.hand-container{
    margin: 1.5rem auto;
}
.hand {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
h1 {
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.473);
}
h2{
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.473);
    margin-bottom: 8px;
}
img {
    width: 6rem;
    height: 9rem;
    margin: 0 .5rem;
    box-shadow: rgba(0, 0, 0, 0.288) 0px 15px 25px, rgba(0, 0, 0, 0.274) 0px 5px 10px;
    border-radius: 8px;
}

button {
    margin: 1.5rem 1rem;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #72db1c 100%);
	background-color:#77d42a;
	border-radius:3px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size: 1.5rem;
	font-weight:bold;
    padding: .5rem 1rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}

button:hover {
	background:linear-gradient(to bottom, #72db1c 5%, #77d42a 100%);
	background-color:#72db1c;
}

button:active {
	position:relative;
	top:1px;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}  

#button-home{
    margin-top: 11%;
}

.results{
    margin-top:1rem;
    margin-bottom: 0;
}
@media (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
        text-align: center;
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.473);
    }
    h2{
        font-size: 2rem;
        text-align: center;
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.473);
        margin-bottom: 10px;
    }
    img{
        width: 7.5rem;
        height: 10.5rem;
        margin: 0 1rem;
        box-shadow: rgba(0, 0, 0, 0.288) 0px 15px 25px, rgba(0, 0, 0, 0.274) 0px 5px 10px;
        border-radius: 8px;
    }
}
@media (min-width: 1267px) {
    h1 {
        font-size: 4rem;
        text-align: center;
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.473);
    }
    h2{
        font-size: 2.5rem;
        text-align: center;
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.473);
        margin-bottom: 10px;
    }
    img{
        width: 11rem;
        height: 14rem;
        margin: 0 1rem;
        box-shadow: rgba(0, 0, 0, 0.288) 0px 15px 25px, rgba(0, 0, 0, 0.274) 0px 5px 10px;
        border-radius: 8px;
    }
}